/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(211, 211, 211, 0.3);
}
/* Heading styles */
h2 {
    font-size: 18.72px;
}

h2, h3 {
    text-transform: capitalize;
}

.age, .height, .weight, .gender {
    padding: 10px 5px;
}

input {
    width: 40px;
}

.bmr, .tdee, .new-calories {
    border: solid 1px black;
    background-color: #F4DF4EFF;
    margin: 10px 0px;
    padding: 10px 5px;
}

.personal-details, .activity, .weight-goals {
    border: solid 1px black;
    background-color: #949398FF;
    margin: 10px 0px;
    padding: 10px 5px;
}

#goals, #activity-multiplier {
    font-size: 11px;
}

#bmr, #tdee, #kcals {
    font-weight: 700;
    color: red;
    font-size: 24px;
}

/* Button Styles */
.submit {
    padding-left: 5px;
    font-size: large;
}

/* Media query: Tablets and larger screens from 768px and up */
@media screen and (min-width: 768px) {

    .personal-details, .activity, .weight-goals, .bmr, .tdee, .new-calories {
        margin: 20px 100px;
    }

    .heading, .personal-heading {
        text-align: center;
    }

    #goals, #activity-multiplier {
            font-size: 18px;
        }
}

/* Media query: Tablets and larger screens from 992px and up */
@media screen and (min-width: 992px) {

    .personal-details, .activity, .weight-goals, .bmr, .tdee, .new-calories {
            margin: 30px 400px;
        }
}